<h1>Cheese Articles</h1>

<div class='intro'>
  Our blog has <%= Article.public_count %>  cheesey articles and counting!
</div>
<ul class='article-container'>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <%= link_to article.title, article, class: 'article-link' %>
    <% end %>
  <% end %>
</ul>

