<h1>Cheese Articles</h1>

<div class='intro'>
  Our blog has <%= Article.public_count %>  cheesey articles and counting!
</div>
<ul class='article-container'>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <div class='article-link'>
        <%= link_to article.title, article %>
      </div>
    <% end %>
  <% end %>
</ul>

